spring:
  application:
    name: BackendVictus
  main:
    web-application-type: reactive
  r2dbc:
    url: r2dbc:postgresql://switchback.proxy.rlwy.net:23578/railway
    username: postgres
    password: pTcDaULJAByAUYdErUvHgKIwjISJLEjU
  web:
    resources:
      add-mappings: false
server:
  port: 8080
